.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: transparent; /* removes background */
    border: none;                 /* removes default button border */
    outline: none;                /* removes focus outline */
    cursor: pointer;
}

.logo {
    font-size: large;
}

/* New sidebar items styling */
.sidebar-item i{
    font-size: medium;
    margin-right:10px;
}
.sidebar-options {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin: 10px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    /* gap: 12px; */
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sidebar-item:hover {
    background-color: rgba(180, 180, 180, 0.1);
}

/* History */
.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    /* gap: 5px; */
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.2s;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
}

.chat-title {
    font-size: medium;
    color: #b4b4b4;
    margin-top: 0px !important;
    margin-bottom: 10px; 
    padding: 0; /* optional, remove padding */
}

/* Sign */
.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    /* border-top: solid 0.25px rgba(255, 255, 255, 0.5); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sign p {
    margin: 0;
    color: #fff;
    font-weight: 500;
}

.sign button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sign button:hover {
    background-color: #454545;
}
